* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 14px; /* Default font size */
}

header {
    background-color: #17a2b8;
    width: 100%;
    margin-top: 0; /* Ensure this is set to 0 */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; /* Ensure this is set to remove any top space */
    z-index: 1000;
    color: #b3e0ff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 80px; /* Default margin for larger screens */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between nav items */
}

header nav ul li {
    position: relative;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #b3e0ff;  
    padding: 10px;
    display: block;
}

header nav ul li a:hover {
    color: white;
}

.active-page {
    color: white;
    font-weight: bold;
}

header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 52px; /* Positioning under the main nav */
    border-radius: 0 0 8px 8px;
    padding: 5px;
}

header nav ul li .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
}

header nav ul li .dropdown-content a:hover {
    background-color: #e6f2ff; /* Dropdown hover effect */
}

.logout-bttn {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.logout-bttn:hover {
    background-color: #e6f2ff;
    border-radius: 0 0 8px 8px; /* Rounded corners for hover */
}

header .menu-toggle,
header .close-toggle {
    display: none; /* Hide menu toggle icons by default */
}

.user_icon-img {
    width: 13px;
    padding-right: 5px; /* Spacing for user icon */
}

main {
    margin-top: 50px;
}
.main {
    margin-top: 70px;
}

/*CAPSARC*/
.banner{
    background-color: #17a2b8;
    width:100%;
    height:65vh;
}
.banner-container   {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    position:relative;
    top:25px;
}
.text-container {
    width:45%;
    margin:auto;
    height:40vh;
    flex:1;
}
.text-container h1{
    color:whitesmoke;
    width:80%;
    font-size: xx-large;
    margin:auto;
    font-weight: bolder;
    font-stretch: expanded;
    text-align: left;
    margin-top: 40px;
    padding: 20px 40px 10px 10px;
}
.text-container h3{
    color:whitesmoke;
    width:85%;
    margin:auto;
    font-weight: 500;
    text-align: left;
    padding: 5px 10px 7px 10px;
}
.img-container  {
    width:30%;
    height:55vh;
    flex:1;
    overflow: hidden;
}
.img-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/*LOGIN,SIGNUP,CHANGE PASSWORD*/
.title-form{
    color:#117a8b;
}

.login,.register,.change-password,.reset-inst{
    background-color: #f0f0f0;
    padding: 50px;
}

.change-password{
    background-color:transparent;

} 
.register   {
    padding: 20px!important;
}

.login form,.register form, .change-password form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register form {
    max-width: 400px!important;
}

.change-password form {
    margin-bottom: 55.5px!important;
}
.login h2, .register h2, .change-password {
    text-align: center;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.change-password input[type="password"] {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.register input[type="text"],.register input[type="email"],
.register input[type="password"], .register select {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.register select{
    width: calc(100%);
}

.login a, .register a{
    text-decoration: none;
    color:#17a2b8;
}      

.login button[type="submit"],.register  button[type="submit"], .change-password button[type="submit"] {
    background-color:#17a2b8;
    color: white;
    border: none;
    margin-top:10px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
        
.login button[type="submit"]:hover, .register button[type="submit"]:hover,.change-password button[type="submit"]:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
        
p.error-message {
    color: red;
    text-align: left;
    margin-top: 10px;
}

.link{
    text-align: center;
}

/*RESET-PASSWORD INSTRUCTIONS*/
.instructions-container {
    width:80%;
    margin:auto;
    background-color: #fff;
    padding: 10px;
    border-radius:8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.instructions-container h2  {
    text-align: center;
}
.instructions-content   {
    width:95%;
    margin:auto;
}
ol li{
    padding-left: 0px !important;
    margin-left: 0px !important;
}
.bck-btn-div    {
    text-align: right;
}
.email-add  {
    color:#138496;
    text-decoration: none;
}
.back-btn{
    padding:5px 10px;
    margin-bottom:20px;
    text-align:right;
    border-radius:4px;
    border:1px double #138496;
    color: #138496;
    cursor: pointer;
    text-align: right;
}
.back-btn:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    transition: background-color 0.3s ease-in;
}
/*HOME*/
.heading-container    {
    width:60%;
    margin:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading-container h1    {
    width:100%;
    margin:0 auto;
    font-style: italic;

}
.heading-container p{
    width:100%;
    margin:0 auto;
    text-align:justify;
}
.search-container {
    width:60%;
    text-align: center;
    margin:auto;
    align-items: center;
    margin-top:10px;
    margin-bottom: 30px;
    position: relative;
}
.search-box {
    margin:auto;
    width: 100%;
    text-align: center;
}
#search-box {
    width:80%;
}
.search-browse {
    width: 100%; /* Full width for navigation links */
    margin: auto;
}
.search-browse a{
    padding-right: 0;
    margin: 0;
    position: relative;
    left: -180px; /* Adjust to center the links or position them logically */
    
}
.search-container input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #17a2b8;
    flex-grow: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
}

.search-container button {
    padding: 10.5px 20px;
    background-color:#17a2b8;
    border:2px solid #17a2b8;
    color: white;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s;
    
}
.search-container button:hover    {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.search-container a {
    text-align: left;
    margin-left: 15.5em;
    display: block;
    color:#17a2b8;
    width:40%;
    text-decoration: none;
}

.suggestions {
    position: absolute;
    top: 43px;
    background: white;
    border: none;
    width: 80%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    margin: 0 auto;
    left: 45%;
    transform: translateX(-50%);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.projects {
    text-align: center;
}

.projects23 {
    width:62%;
    margin: auto;
    text-align: left;
    color:#117a8b;
}

.project-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 60%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.project-title {
    color: #17a2b8;
    margin: 0 auto;
}

.authors, .keywords {
    margin: 5px;
    padding: 0;
    font-size: 14px;
}

.authors {
    font-weight: bold;
}

.project-info {
    overflow: hidden;
    position: relative;
}

.project-info h4 {
    font-size: 18px;
    margin: 0 0 10px;
}


.content-wrapper {
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.content-wrapper.collapsed {
    max-height: 80px;
}

.content-wrapper.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to top, #fff, transparent);
}

.content {
    font-size: 14px;
    color: #666;
    text-align: justify;
}

.toggle-content-btn {
    background-color: transparent;
    color:#17a2b8;
    border: none;
    cursor: pointer;
    float: right;
}
/* ADVANCED SEARCH FILTERS */
.advanced-search-container {
    width:60%;
    margin:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advsearch{
    width:100%;
    margin:auto;
    color:#17a2b8;
    text-align: left;
}

.advsearch h4{
    width:90%;
    margin:auto;
}

.advanced-search-container form{
    width:90%;
    margin:auto;
    margin-bottom: 30px;
}

.advanced-search-container input {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:47%;
}
.title-auth-key {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.year   {
    width: 8% !important;
}
.advanced-search-container select {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:15%;
}
.advanced-search-container button {
    padding: 10.5px 20px;
    background-color:#17a2b8;
    border:2px solid #17a2b8;
    color: white;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s;
}

.advanced-search-container button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.project-heading-container  {
    width:62%;
    margin:auto;
    padding: 0%;
}
.capsprojs  {
    display: inline-block;
    width: 45%;
    text-align: left;
    margin-right: 43px;
    color:#117a8b;
}
.result_per_page_form  {
    display: inline-block;
    width: 45%;
    margin-left: 43px;
    text-align: right;
}
.result_per_page_form label  {
    font-size: 14px;
    width:10%;
}
.results_per_page   {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:15%;
}
/*LIBRARY*/
.del-btn-container  {
    text-align: right;
}

.timestamp  {
    display:inline;
    font-size: smaller;
    text-align: left;
    margin-right:10px;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin-top: 5px;
    margin:0 auto;
    cursor: pointer;
    border:2px solid #da190b;
    border-radius: 4px;
}
.delete-btn:hover {
    background-color: #da190b;
}
.btn-container  {
    text-align: right;
    margin-bottom:10px;
}
.save-btn {
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.save-btn.blue, .save-btn.green {
    border-radius: 4px;
   
}
.save-btn.green {
    background-color:  #17a2b8;
    border:2px solid #138496;
    color: white;
}
.save-btn.blue {
    border:2px solid #138496;
    color: #138496;
}
.save-btn.blue:hover {
    background-color:  #17a2b8;
    border:2px solid #138496;
    color: white;
}
/*PAGINATION*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #117a8b;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color:#117a8b;
    color: #fff;
    border-color: #117a8b;
}

.pagination a:hover {
    background-color: #ddd;
    color:#117a8b;
    border-color: #117a8b;
}
/*ABOUT*/
.about-banner   {
    width:100%;
    height:auto;
    overflow: hidden;
}
.banner-about   {
    width:100%;
    height:auto;
    object-fit: cover;
}
.about-container  {
    width:60%;
    height:auto;
    margin:auto;
    position:relative;
    top:20px;
    padding-bottom: 100px;
    background-color: white;
}
.about-content  {
    width:90%;
    height:auto;
    margin:auto;
    position:relative;
    top:50px;
    text-align: justify;
}
.dev-container{
    display:flex;
    justify-content: space-between;

}
.dev {
    flex:1;
    padding:5px;
    text-align: center;
}
.dev-details-container  {
    border:1px solid #17a2b8;
    border-radius: 5px;
    padding:50px 10px 20px;
    position:relative;
    top:-35px;
    z-index:1;
}
.dev-details-container p {
    margin:0px;
    padding:0px;
}
.dev-profile-img    {
    width:120px;
    height:auto;
    position:relative;
    bottom:-20px;
    z-index:2; 
    border-radius: 100px;
}
/*FOOTER*/
.footer {
    background-color:transparent;
    width:100%;
    color:#117a8b;
}
footer {
    background-color:  #17a2b8;
    color:  #b3e0ff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    position:static;
    width:100%;
    bottom:0px;
}
.footer{
   padding: 0px !important;
   margin-top: 0px !important;
}
.footer-content,.capsarc-footer-content {
    width:100%;
    margin:auto;
}
.school {
    color:white;
}
.capsarc-school {
    color:#117a8b;
}
.school h3,.capsarc-school h3{
    margin-bottom:0px;
}
.school p,.capsarc-school p{
    margin-top:0px;
    margin-bottom:0px;
}
.contacts,.capsarc-contacts  {
    width:100%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    color:white;
}
.capsarc-contacts {
    color:#117a8b!important;
}
.phone-icon,.mail-icon,.capsarc-phone-icon,.capsarc-mail-icon {
    width:50%;
    margin:auto;
    flex:1;
    padding:0px;
}
.phone-icon,.capsarc-phone-icon {
    text-align: right;
    padding-right:20px;
    position: relative;
    right:50px;
}
.mail-icon,.capsarc-mail-icon {
    text-align: left;
    padding-left:20px;
}
.contact-icon,.capsarc-contact-icon {
    width:13px;
    position:relative;
    top:2px;
    right:5px;
}
.asu-email  {
    color:white;
    text-decoration: none;
}
.capsarc-asu-email  {
    color:#117a8b;
    text-decoration: none;
}
/* Mobile Devices (Small: up to 320px, Medium: 321px - 480px, Large: 481px - 768px)*/

@media (max-width: 768px) {
    header nav {
        display: none; /* Initially hidden */
        text-align: right;
        flex-direction: column;
        position: fixed;
        width: 30%; /* Wider for mobile */
        height: 100%; /* Full height */
        top: 45px; /* Positioning under header */
        right: 10px; /* Center alignment */
        background-color: white;
        margin:0; /* Remove margin for mobile */
        overflow: auto; /* Enable scrolling */
    }
    
    header nav.show {
        display: block;
        width: 150px;
        margin-top: -45px;
        margin-right: -10px;
    }

    header .menu-toggle {
        display: block;
        float:right;
        margin-right:40px;
        cursor: pointer;
        font-size: 24px;
    }
    header nav ul li .dropdown-content  {
        margin:0 auto;
        background-color:transparent;
        border-radius:0px;
        box-shadow:none;
    }
    .dropdown-content a, .dropdown-content button:hover {
        background-color:transparent!important;
        width:100px;
        color:#117a8b;
        position:relative;
        border-radius:0px;
    }

    header .close-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    header nav ul { 
        display: block;
        text-align: left;
        margin-top: 50px;
    }

    header nav ul li {
        display: block;
        margin:1px;
        padding:0;
    }

    header nav ul li a {
        color:#117a8b;
    }
    .active-page    {
        background-color: #17a2b8;
        color:white;
        font-weight: bold;
    }
    .active-page:hover    {
        background-color:#17a2b8;
        color:white;
        font-weight: bold;
    }

    header nav ul li a:hover {
        background-color: #e6f2ff;
        color:#117a8b;
    }
    .banner{
        height:110vh;
        margin:0 auto;
        margin-top:-26px;
    }
    .banner-container   {
        flex-direction: column;
    }
    .text-container,.img-container {
       flex:none;
       width:100%;
       margin-bottom:5px;
    }
    .img-container  {
        margin-top:20px;
    }
    .text-container h1{
        width:100%;
        margin:auto;
        padding:0px;
    }
    .text-container h3{
        width:100%;
        margin:auto;
        padding:0px;
    }
    .img-container  {
        margin-bottom: 0;
    }
    .img-container img{
        width:100%;
        height:55vh;
    }
    .login,.register,.reset-inst{
        margin:auto;
        padding: 10px;
        padding-top:0px;
        margin-top:50px;
    }
    .login form,.register form, .change-password form,.instructions-container   {
        width:80%;
        margin:auto;
    }
    .heading-container   {
        width:100%;
        margin: auto;
    }
    .capsarc-contacts,.contacts{
        display: block;
        text-align: center; 
        margin:0px;
        padding:0px;
    }
    .capsarc-phone-icon, .capsarc-mail-icon,.phone-icon,.mail-icon {
        width: 100%; 
        padding: 0px; 
        text-align: center; 
        position: relative;
        right: 0;
    }
    .capsarc-contact-icon,.contact-icon {
        margin-right: 5px; 
        position: relative; 
        right: 0;
    }
    .capsarc-phone-icon p, 
    .capsarc-mail-icon p, 
    .capsarc-asu-email,
    .phone-icon p, 
    .mail-icon p, 
    .asu-email  {
        margin: 0;
        padding: 0;
    }
    .heading-container   {
        width:95%;
        padding:5px;
    }
    .search-container   {
        width:95%;
        padding:5px;
    }
    .search-box{
        width:95%;
        padding:0px;
    }
    #search-box {
        width:60%;
    }
    .search-browse  {
        width:95%;
        padding-left: 0px;
    }
    .suggestions {
        margin-top: 5px;
        width:60%;
        margin-left:-27.5px;
    }
    .projects {
       width:95%;
       padding:5px;
    }
    
    .projects23{
        width:95%;
        text-align: left;  
    }

    .project-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .project {
        width: 85%;
    }
    .advanced-search-container  {
        width:95%;
        padding:5px;
        margin:0px;
    }
    .advsearch{
        width:100%;
        padding:0px;
    }
    .advsearch h4{
        width:100%;
    }
    .advanced-search-container form{
        width:100%;
        padding:0px;
    }
    .advanced-search-container input {
        width:92%;
    }
    .year   {
        width: 10% !important;
    }
    .advanced-search-container select {
        width:29.5%;
    }
    .project-heading-container  {
        width:95%;
        padding:5px;
    }
    .capsprojs  {
        width:100%;
        padding: 0px;
        margin:0 auto;
    }
    .capsprojs h2   {
        padding:0px;
        margin:0px;
    }
    .result_per_page_form  {
        width: 50%;
        text-align: right;
        position:relative;
        left:51px;
    }
    .results_per_page    {
        width:40%;
    }
    .about-container  {
        width:90%;
        height:320vh;
        margin:auto;
        position:relative;
        top:20px;
        padding-bottom: 250px;
        background-color: white;
    }
    .about-content  {
        width:90%;
        height:280vh;
        margin:auto;
        position:relative;
        top:50px;
        text-align: justify;
    }
    .dev-container{
        flex-direction: column;
    }
    .dev {
        flex:none;
        width:60%;
        margin:auto;
        margin-bottom:0px;
        margin-top:0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
   
}
/* Mobile (max-width: 576px) */
@media only screen and (max-width: 576px) {
    /* Your styles for mobile devices */
     body {
        font-size:12px;
     };
  }

/* Tablet (577px - 1024px) */
@media only screen and (min-width: 577px) and (max-width: 1024px) {
    /* Your styles for tablets */
    body {
        font-size:14px;
     };
  }

/* Laptop (1025px - 1366px) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    /* Your styles for laptops */
    body {
        font-size:14px;
     };
  }
/* Desktop (1367px and above) */
@media only screen and (min-width: 1367px) {
    /* Your styles for desktops */
    body {
        font-size:14px;
     };
  }
    

