/* General styles */
*   {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size:14px;
    line-height:1.42857143;
    color:#333;
    /* Hide default context menu */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer {
    background-color:transparent;
    width:100%;
    color:#117a8b;
}
.header{
    width:100%;
    margin:0 auto;
}
/* user credentials */
.login,.register,.change-password{
    background-color: #f0f0f0;
    padding: 50px;
}

.change-password{
    background-color:transparent;

} 
.register   {
    padding: 20px!important;
}

.login form,.register form, .change-password form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register form {
    max-width: 400px!important;
}

.change-password form {
    margin-bottom: 55.5px!important;
}
.login h2, .register h2, .change-password {
    text-align: center;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.change-password input[type="password"] {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.register input[type="text"],.register input[type="email"],
.register input[type="password"], .register select {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
}

.register select{
    width: calc(100%);
}

.login a, .register a{
    text-decoration: none;
    color:#17a2b8;
}      

.login button[type="submit"],.register  button[type="submit"], .change-password button[type="submit"] {
    background-color:#17a2b8;
    color: white;
    border: none;
    margin-top:10px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
        
.login button[type="submit"]:hover, .register button[type="submit"]:hover,.change-password button[type="submit"]:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
        
p.error-message {
    color: red;
    text-align: left;
    margin-top: 10px;
}

.link{
    text-align: center;
}

header {
    background-color: #17a2b8;
    width:100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    color:  #b3e0ff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
    margin-right:80px;
    
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    position: relative;
    display: inline-block;

}

header nav ul li a {
    text-decoration: none;
    color: #b3e0ff;  
    padding: 10px;
    display: block;
}

header nav ul li a:hover {
    color: white;
}

.active-page {
    color: white;
    font-weight: bold;
}

header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 52px;
    border-radius: 0 0 8px 8px;
    padding: 5px;
}

header nav ul li .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
}

header nav ul li .dropdown-content a:hover {
    background-color: #e6f2ff;
}

.logout-bttn    {
    width:100%;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.logout-bttn:hover {
    background-color: #e6f2ff;
    border-radius: 0 0 8px 8px;
}

header .menu-toggle,
header .close-toggle {
    display: none;
}

.user_icon-img  {
    width:13px;
    padding-right:5px;
}
main {
    padding-top:80px;
    margin:0 auto;
}
.banner{
    background-color: #17a2b8;
    width:100%;
    height:65vh;
    margin:auto;
    margin-top:-20px;
}
.banner-container   {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    position:relative;
    top:25px;
}
.text-container {
    width:45%;
    margin:auto;
    height:40vh;
    flex:1;
}
.text-container h1{
    color:whitesmoke;
    width:80%;
    font-size: xx-large;
    margin:auto;
    font-weight: bolder;
    font-stretch: expanded;
    text-align: left;
    margin-top: 40px;
    padding: 20px 40px 10px 10px;
}
.text-container h3{
    color:whitesmoke;
    width:85%;
    margin:auto;
    font-weight: 500;
    text-align: left;
    padding: 5px 10px 7px 10px;
}
.img-container  {
    width:30%;
    height:55vh;
    flex:1;
    overflow: hidden;
}
.img-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.heading-container    {
    width:60%;
    margin:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading-container h1    {
    width:100%;
    margin:0 auto;
    font-style: italic;

}
.heading-img img{
    width:50%;
    height: auto;
}
.heading-container p{
    width:100%;
    margin:0 auto;
    text-align:justify;
}

.search-container {
    text-align: center;
    margin-top:10px;
    margin-bottom: 30px;
    position: relative;
    
}
.search-box {
    margin:auto;
    width:80%;
}
.search-browse {
    margin:auto;
    width:80%;
}
.search-browse a{
    padding-left:30px;
}
.search-container input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #17a2b8;
    flex-grow: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
}

.search-container button {
    padding: 10.5px 20px;
    background-color:#17a2b8;
    border:2px solid #17a2b8;
    color: white;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s;
    
}
.search-container button:hover    {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.search-container a {
    text-align: left;
    margin-left: 15.5em;
    display: block;
    color:#17a2b8;
    width:40%;
    text-decoration: none;
}

.suggestions {
    position: absolute;
    top: 43px;
    background: white;
    border: none;
    width: 41.5%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    margin: 0 auto;
    left: 47%;
    transform: translateX(-50%);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.projects {
    text-align: center;
}

.projects23 {
    width:62%;
    margin: auto;
    text-align: left;
    color:#117a8b;
}

.project-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 60%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.project-title {
    color: #17a2b8;
    margin: 0 auto;
}

.authors, .keywords {
    margin: 5px;
    padding: 0;
    font-size: 14px;
}

.authors {
    font-weight: bold;
}

.project-info {
    overflow: hidden;
    position: relative;
}

.project-info h4 {
    font-size: 18px;
    margin: 0 0 10px;
}


.content-wrapper {
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.content-wrapper.collapsed {
    max-height: 80px;
}

.content-wrapper.collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to top, #fff, transparent);
}

.content {
    font-size: 14px;
    color: #666;
    text-align: justify;
}

.toggle-content-btn {
    background-color: transparent;
    color:#17a2b8;
    border: none;
    cursor: pointer;
    float: right;
}
.del-btn-container  {
    text-align: right;
}

.timestamp  {
    display:inline;
    font-size: smaller;
    text-align: left;
    margin-right:10px;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin-top: 5px;
    margin:0 auto;
    cursor: pointer;
    border:2px solid #da190b;
    border-radius: 4px;
}
.delete-btn:hover {
    background-color: #da190b;
}
.btn-container  {
    text-align: right;
}

.save-btn {
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.save-btn.blue, .save-btn.green {
    border-radius: 4px;
   
}
.save-btn.green {
    background-color:  #17a2b8;
    border:2px solid #138496;
    color: white;
}
.save-btn.blue {
    border:2px solid #138496;
    color: #138496;
}
.save-btn.blue:hover {
    background-color:  #17a2b8;
    border:2px solid #138496;
    color: white;
}
footer {
    background-color:  #17a2b8;
    color:  #b3e0ff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    position:static;
    width:100%;
    bottom:0px;
}
.footer{
   padding: 0px !important;
   margin-top: 0px !important;
}
.footer-content,.capsarc-footer-content {
    width:100%;
    margin:auto;
}
.school {
    color:white;
}
.capsarc-school {
    color:#117a8b;
}
.school h3,.capsarc-school h3{
    margin-bottom:0px;
}
.school p,.capsarc-school p{
    margin-top:0px;
    margin-bottom:0px;
}
.contacts,.capsarc-contacts  {
    width:100%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    color:white;
}
.capsarc-contacts {
    color:#117a8b!important;
}
.phone-icon,.mail-icon,.capsarc-phone-icon,.capsarc-mail-icon {
    width:50%;
    margin:auto;
    flex:1;
    padding:0px;
}
.phone-icon,.capsarc-phone-icon {
    text-align: right;
    padding-right:20px;
    position: relative;
    right:50px;
}
.mail-icon,.capsarc-mail-icon {
    text-align: left;
    padding-left:20px;
    position: relative;
    right:50px;
}
.contact-icon,.capsarc-contact-icon {
    width:13px;
    position:relative;
    top:2px;
    right:5px;
}
.asu-email  {
    color:white;
    text-decoration: none;
}
.capsarc-asu-email  {
    color:#117a8b;
    text-decoration: none;
}
/* Advanced search filters styles */
.advanced-search-container {
    text-align:center;
    margin-bottom: 30px;
    position: relative;
}
.advsearch{
    width:54.5%;
    margin:auto;
    color:#17a2b8;
    text-align: left;
}
.advsearch h3{
    margin:0 auto;
}

.advanced-search-container input {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:30%;
}

.title-auth-key {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.year   {
    width: 3% !important;
}
.advanced-search-container select {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:7%;
}
.advanced-search-container button {
    padding: 10.5px 20px;
    background-color:#17a2b8;
    border:2px solid #17a2b8;
    color: white;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s;
}

.advanced-search-container button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.project-heading-container  {
    width:62%;
    margin:auto;
    padding: 0%;
}
.capsprojs  {
    display: inline-block;
    width: 45%;
    text-align: left;
    margin-right: 43px;
    color:#117a8b;
}
.result_per_page_form  {
    display: inline-block;
    width: 45%;
    margin-left: 43px;
    text-align: right;
}
.result_per_page_form label  {
    font-size: 14px;
    width:10%;
}
.results_per_page   {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid #17a2b8;
    width:15%;
}
.savedprojs {
    width:62%;
    margin:auto;
    text-align: left;
    color:#117a8b;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #117a8b;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color:#117a8b;
    color: #fff;
    border-color: #117a8b;
}

.pagination a:hover {
    background-color: #ddd;
    color:#117a8b;
    border-color: #117a8b;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 50%;
    margin:auto;
    margin-top:20px;
    margin-bottom:207px;
}

.edit-profile-container {
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
}

.edit-profile-container form  {
    width:100%;
    padding:10px;
}

.edit-profile-heading   {
    text-align: center;
}

.form-group label, .file-input-label{
    display:block;
    color:#666;
    font-size: 14px;
    font-weight: bold;
}

.file-upload-container {
    display: flex;
    align-items: center;
    margin:5px 0px;
}

.custom-file-upload {
    display: inline-block;
    padding:8px;
    cursor: pointer;
    background-color: #d6e9fd;
    color: #000;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    margin-right:0px;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.custom-file-upload:hover {
    background-color:#e6f2ff;
    transition:background-color 0.3s ease-in-out; 
}

#file-name {
    display:inline-block;
    width: calc(80% - 10px);
    background-color:#f5f5f5;
    padding:8px;
    border-radius: 4px;
    border: 1px solid #117a8b;
    border-left:none;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    font-size: 14px;
    margin-left:0px;
}


.form-group input[type="text"],.form-group input[type="email"],
.form-group select {
    width: calc(100% - 20px);
    background-color:#f5f5f5;
    padding:8px;
    border: 1px solid #117a8b;
    border-radius: 4px;
    font-size: 14px;
    margin:5px 0px;
}
.form-group select {
    width: calc(100% - 3px)!important;
    margin-right:5px;
}

.form-group-btns    {
    float:right;
    margin-top: 10px;
}
.profile-header img {
    border-radius: 50%;
    border:5px double #138496;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.back-to-profile-btn {
    border:1px double #138496;
    border-radius: 4px;
    color: #138496;
    font-size:12px;
    margin: 5px;
    padding: 5px 7px;
    cursor: pointer;
}

.save-changes-btn   {
    color: #fff;
    background-color: #138496;
    border:1px solid #117a8b;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 7px;
    cursor: pointer;
}

.back-to-profile-btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    transition: background-color 0.3s ease-in;
}

.save-changes-btn:hover{
    background-color:#17a2b8;
    border:1px solid #17a2b8;
    color:#fff;
    transition: background-color 0.3s ease-in;
}
.profile-info p {
    margin: 5px 0;
}
.profile-wrapper {
    float: left;
}

.profile-actions    {
    margin-top:10px;
}

.profile-actions h4{
    color: #138496;
    margin:2px 0px 2px 0px;
    padding-left: 6px;
    text-align: left;
}

.profile-action-links  {
    text-decoration: none;
    padding-left:6px;
}
.profile-actions button, .profile-action-links{
    display:block;
    background: transparent;
    text-align: left;
    color:#666;
    border:none;
    width:150px;
    cursor: pointer;
    font-size: small;
}

.profile-info {
    float: left;
    margin: 10px;
    padding: 20px;
}

.profile-info h3{
    text-transform: uppercase;
    color: #117a8b;
    margin-bottom:0;
}

.username   {
    margin-bottom: 20px!important;
    color: #17a2b8;
}

.profile-info strong {
    color:#666;
}
.profile-header {
    text-align: center;
    margin:0 auto;
}

.profile-info{
    width:100%;
}
.profile-actions    {
    clear:left;
}

.project-details-container   {
    margin: 0 19%;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 60%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}

.project-details    {
    text-align: center;
    padding:10px 20px;
}

.project-details h2   {
    margin-bottom:0px;
}

.project-authors    {
    margin:0 auto;
}

.project-details h4   {
    text-align: left;
    margin-bottom:0px;
}

.project-keywords   {
    text-align: left;
    margin:0 auto;
}


.project-content    {
    margin-top:0px;
    text-align: justify;
}

.project-btns   {
    float:left;
}

.project-details-button{
     border:1px solid #138496;
    border-radius: 50px;
    color: #138496;
    font-size:12px;
    margin: 5px;
    padding: 5px 7px;
    cursor: pointer;
}

.project-details-button:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    transition: background-color 0.3s ease-in;
   
}
.tab-container {
    margin-top: 50px;
    width: 100%;
}

.tab-titles {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.tab-button {
    border:none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #117a8b;
    padding: 10px;
    width:50px;
    flex: 1;
    text-align: center;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    color:black;
    border-bottom: none;
}

.tab-button:hover {
    background-color: #f1f1f1;
    border-radius: 5px 5px 0 0;
}

.tab-content {
    padding-top: 10px;
    display:none;
    text-align: justify;

}

.tab-content.active {
    display: block;
}
.about-container  {
    width:60%;
    height:auto;
    margin:auto;
    position:relative;
    top:20px;
    padding-bottom: 100px;
    background-color: white;
}
.about-content  {
    width:90%;
    height:auto;
    margin:auto;
    position:relative;
    top:50px;
    text-align: justify;
}
.dev-container{
    display:flex;
    justify-content: space-between;

}

.dev {
    flex:1;
    padding:5px;
    text-align: center;
}
.dev-details-container  {
    border:1px solid #17a2b8;
    border-radius: 5px;
    padding:50px 10px 20px;
    position:relative;
    top:-35px;
    z-index:1;
}
.dev-details-container p {
    margin:0px;
    padding:0px;
}
.dev-profile-img    {
    width:120px;
    height:auto;
    position:relative;
    bottom:-20px;
    z-index:2; 
    border-radius: 100px;
}
.about-banner   {
    width:100%;
    height:auto;
    overflow: hidden;
}
.banner-about   {
    width:100%;
    height:auto;
    object-fit: cover;
}
#controlsContainer {
    display: flex;
    justify-content: space-between; /* Space out controls and page number */
    align-items: center; /* Center vertically */
    margin-bottom: 5px;
    padding:5px;
    background-color: #ddd;
}
#pdfContainer {
    width: 100%;
    height: 800px; /* Adjust as needed */
    overflow: auto; /* Enable scrolling */
    position: relative;
    border: 1px solid #ddd;
    text-align: center; /* Center the content horizontally */
}
.pdfPage {
    margin: 0 auto; /* Center the page horizontally */
    margin-bottom: 10px; /* Space between pages */
}
.pdfPage canvas {
    display: block;
    margin: 0 auto; /* Center the canvas horizontally */
    max-width: 100%; /* Ensure canvas does not exceed container width */
}
#pdfControls {
    display: flex;
    gap: 5px; /* Space between buttons */
}
#pdfControls button {
    margin-right: 5px;
    padding:3px 0px;
    width:40px;
    height:auto;
    color: #117a8b;
    border: 1px solid #117a8b;
    border-radius:4px;
    background-color: transparent;
}
#pdfControls button:hover {       
    background-color: #f1f1f1;
}
#pdfControls span {
    margin-right: 10px;
}
#pageNumDisplay {
    margin: 0;
    padding-left: 5px;
}
.instructions-container {
    width:50%;
    margin:auto;
    margin-top:100px;
    background-color: #fff;
    padding: 10px;
    border-radius:8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.instructions-container h2  {
    text-align: center;
}
.instructions-content   {
    width:95%;
    margin:auto;
}
.bck-btn-div    {
    text-align: right;
}
.email-add  {
    color:#138496;
    text-decoration: none;
}
.back-btn{
    padding:5px 10px;
    margin-bottom:20px;
    text-align:right;
    border-radius:4px;
    border:1px double #138496;
    color: #138496;
    cursor: pointer;
    text-align: right;
}
.back-btn:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    transition: background-color 0.3s ease-in;
}
.btn-secondary  {
    color: #138496!important;
    background-color: transparent;
    border:none;
}
.title-form{
    color:#117a8b;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav {
        display: none;
        text-align: right;
        flex-direction: column;
        position: fixed;
        width:30%;
        height:100%;
        top: 45px;
        right:10px;
        background-color: white;
        margin: 10px;
        width: calc(100% - 40px);
        overflow: auto; 
    }

    header nav.show {
        display: block;
        width: 150px;
        margin-top: -45px;
        margin-right: -10px;
    }

    header .menu-toggle {
        display: block;
        float:right;
        margin-right:40px;
        cursor: pointer;
        font-size: 24px;
    }
    header nav ul li .dropdown-content  {
        margin:0 auto;
        background-color:transparent;
        border-radius:0px;
        box-shadow:none;
    }
    .dropdown-content a, .dropdown-content button:hover {
        background-color:transparent!important;
        width:100px;
        color:#117a8b;
        position:relative;
        border-radius:0px;
    }

    header .close-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    header nav ul { 
        display: block;
        text-align: left;
        margin-top: 50px;
    }

    header nav ul li {
        display: block;
        margin:1px;
        padding:0;
    }

    header nav ul li a {
        color:#117a8b;
    }
    .active-page    {
        background-color: #17a2b8;
        color:white;
        font-weight: bold;
    }
    .active-page:hover    {
        background-color:#17a2b8;
        color:white;
        font-weight: bold;
    }

    header nav ul li a:hover {
        background-color: #e6f2ff;
        color:#117a8b;
    }
    .heading-container   {
        width:75%;
    }
    .banner{
        height:110vh;
        margin:0 auto;
        margin-top:-26px;
    }
    .banner-container   {
        flex-direction: column;
    }
    .text-container,.img-container {
       flex:none;
       width:100%;
       margin-bottom: 10px;
       padding-top:0px;
    }
    .text-container h1{
        width:100%;
        margin:auto;
        padding:0px;
    }
    .text-container h3{
        width:100%;
        margin:auto;
        padding:0px;
    }
    .img-container  {
        margin-bottom: 0;
    }
    .img-container img{
        width:100%;
        height:55vh;
    }
    .projects23{
        width:98%;
        text-align: left;  
    }

    .project-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .project {
        width: calc(100% - 40px); /* Full width in mobile */
    }
    .search-container input[type="text"] {
        width: 60%;
    }
    .suggestions {
        width: 52%;
        left: 41%;
    }
    .search-browse a{
        width:60%;
        position:relative;
        left:-225px;

    }
    .save-btn{
        margin-left: 85%;
    }
    
    .advanced-search-container input {
        width:40%;
    }

    .advsearch{
        width:77%;
    }
    .advsearch h3{
        text-align: left;
    }
    .year   {
        width: 10% !important;
    }
    .advanced-search-container select {
        width:23%;
    }
    .project-heading-container  {
        width:98%;
        flex-wrap: wrap;
    }
    .capsprojs  {
        width: 45%;
        margin-right: 8px;
    }
    .result_per_page_form  {
        width: 50%;
        margin-left: 8px;
    }
    .results_per_page    {
        width:25%;
    }

    .profile-container {
        display:inline-block;
        width: 80%;
        margin-left:7%;
       
    }
    .edit-profile-container {
        display:inline-block;
        width: 80%;
        margin-left:7%;
       
    }

    .edit-profile-container form {
        width:95%;

    }

    #file-name {
        width: calc(70% - 9px);
        padding:8px;
    }

    .profile-wrapper    {
        display:flex;
        align-items: center;
        margin:5% 10% 0;
    }

    .profile-actions {
        margin:0px 20px;

    }

    .profile-info   {
        margin-top:0px;
        width:80%;
    }
    .tab-button {
        font-size: 14px;
    }

    iframe {
        height: 600px; /* Adjust height for smaller screens */
    }
    .about-container  {
        width:90%;
        height:320vh;
        margin:auto;
        position:relative;
        top:20px;
        padding-bottom: 250px;
        background-color: white;
    }
    .about-content  {
        width:90%;
        height:280vh;
        margin:auto;
        position:relative;
        top:50px;
        text-align: justify;
    }
    .dev-container{
        flex-direction: column;
    }
    .dev {
        flex:none;
        width:60%;
        margin:auto;
        margin-bottom:0px;
        margin-top:0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
