<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/tab_icon.png') }}" type="image/x-icon">
    <meta name="keywords" content="CapsArc, Capstone Project Repository, ASU-CCS Capstone Projects Portal, Information Technology Capstone, IMRaD Thesis Generator, Capstone Project Archive, Capstone Project Access">
    <meta name="Description" content="CAPSARC is an institutional repository for showcasing and accessing Bachelor of Science in Information Technology capstone projects, with an IMRaD generator for streamlined academic research management.">
    
    
    <title>CapsArc: {{ project.Title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/startmin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top custom-bg" role="navigation">

             <button type="button" class="navbar-toggle custom-bg-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>

             <ul class="nav navbar-right navbar-top-links">
                 <li class="dropdown navbar-inverse font-white-env">
                    <a href="mailto:asukalibo.capsarc@gmail.com" class="font-white-env"><i class="fa fa-envelope fa-fw"></i></a>
                 </li>
                 <li class="dropdown font-white">
                     <a class="dropdown-toggle font-white" data-toggle="dropdown" href="#">
                         <i class="fa fa-user fa-fw"></i> {{ session.username }} <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu dropdown-user">
                         <li>
                        <a href="{{ url_for('admin_login') }}" class="bottom"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                         </li>
                     </ul>
                 </li>
             </ul>
             <!-- /.navbar-top-links -->
         </nav>

         <aside class="sidebar navbar-default" role="navigation">
             <div class="sidebar-nav navbar-collapse">
                 <ul class="nav" id="side-menu">
                     <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <a class="navbar-brand custom-nav-brand custom-color-logo" href="{{ url_for('index') }}"><image src="{{ url_for('static', filename='images/tab_icon.png') }}" class="tab-icon"><i>CapsArc</i></a>
                        </div>
                         <!-- /input-group -->
                     </li>
                     <li>
                         <a href="{{ url_for('admin_index') }}" class="custom-color"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                     </li>
                     <li>
                        <a href="{{ url_for('library') }}" class="custom-color" ><i class="fa fa-leanpub fa-fw"></i> Library</a>
                    </li>
                    <li>
                        <a href="{{ url_for('archive') }}" class="custom-color"><i class="fa fa-archive fa-fw"></i> Archive</a>
                    </li>
                     <li>
                         <a href="{{ url_for('upload_project') }}" class="custom-color"><i class="fa fa-file fa-fw"></i> Upload Project</a>
                     </li>
                     <li>
                         <a href="{{ url_for('users') }}" class="custom-color"><i class="fa fa-users fa-fw"></i>Users Management</a>
                     </li>
                 </ul>
             </div>
         </aside>
         <!-- /.sidebar -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% if project %}
                        <h1 class="page-header">{{ project.Title }}</h1>
                    </div>
                    <div class="col-lg-10 panel-body">
                        <p><strong>Authors:</strong> {{ project.Authors }}</p>
                        <p><strong>Course:</strong> {{ project.course_name }}</p>
                        <p><strong>Major:</strong> {{ project.major_name }}</p>
                        <p><strong>Publication Year:</strong> {{ project.Publication_Year }}</p>
                        <h3>Keywords</h3>
                        <p>{{ project.Keywords }}</p>
                        <h3>Abstract</h3>
                        <p class="text-justify">{{ project.Abstract }}</p>
                        {% else %}
                        <p>Project not found or does not exist.</p>
                        {% endif %}
                    </div>
                    <!-- /.col-lg-10 -->
                     
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#pdf" data-toggle="tab">PDF Viewer</a></li>
                                    <li><a href="#imrad"  data-toggle="tab">IMRAD Format</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!-- PDF Tab -->
                                    <div class="tab-pane fade in active" id="pdf">
                                         <!-- PDF Embed -->
                                          <br>
                                         {% if project and project.project_id %}
                                            <div id="pdfContainer">
                                                <iframe id="pdfViewer" src="{{ url_for('view_pdf', identifier=project.project_id) }}" width="100%" height="100%" style="border: none;"></iframe>
                                            </div>
                                        {% else %}
                                            <p>PDF file not found.</p>
                                        {% endif %}
                                    </div>

                                    <!-- IMRAD Tab -->
                                    <div class="tab-pane fade" id="imrad">
                                        <p class="imrad-content">{{ project.generated_imrad | safe }}</p>
                                    </div>
                                </div>
                                <div class="citation-tab-container">
                                    <h3>Citation</h3>
                                    <div class="citation-tab-titles">
                                        <button class="citation-tab-button active" onclick="openCitationTab('apa')">APA</button>
                                        <button class="citation-tab-button" onclick="openCitationTab('mla')">MLA</button>
                                        <button class="citation-tab-button" onclick="openCitationTab('chicago')">Chicago</button>
                                    </div>
                
                                    <div id="citation-apa" class="citation-tab-content active">
                                        <div class="apa-format">
                                            <p id="apa-citation">
                                                {{ project.Citation_Authors }} ({{ project.Publication_Year }}). 
                                                <i>{{ project.Citation_Title }}</i>. 
                                                Unpublished manuscript, Aklan State University Kalibo Campus.
                                            </p>
                                            <div class="div-copy-btn">
                                                <button class="copy-button" onclick="copyCitation('apa-citation')">Copy</button>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div id="citation-mla" class="citation-tab-content">
                                        <div class="mla-format">
                                            <p id="mla-citation">
                                                {{ project.Citation_Authors }}. 
                                                "{{ project.Citation_Title }}." 
                                                Unpublished manuscript, Aklan State University Kalibo Campus, {{ project.Publication_Year }}.
                                            </p>
                                            <div class="div-copy-btn">
                                                <button class="copy-button" onclick="copyCitation('mla-citation')">Copy</button>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div id="citation-chicago" class="citation-tab-content">
                                        <div class="chicago-format">
                                            <p id="chicago-citation">
                                                {{ project.Citation_Authors }}. 
                                                {{ project.Publication_Year }}. 
                                                <i>{{ project.Citation_Title }}</i>. 
                                                Unpublished manuscript, Aklan State University Kalibo Campus.
                                            </p>
                                            <div class="div-copy-btn">
                                                <button class="copy-button" onclick="copyCitation('chicago-citation')">Copy</button>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->


    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris-data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/startmin.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
         // Function to open a specific tab
        function openTab(tabName) {
            // Hide all tab contents
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => {
                tab.style.display = 'none'; // Hide all tabs
                tab.classList.remove('active'); // Remove active class from content
            });

            // Show the selected tab content
            const selectedTab = document.getElementById(tabName);
            selectedTab.style.display = 'block';
            selectedTab.classList.add('active'); // Add active class to selected tab content

            // Update active class on tab buttons
            const tabButtons = document.querySelectorAll('.tab-button');
            tabButtons.forEach(button => button.classList.remove('active')); // Remove active from all buttons

            // Find and activate the clicked button
            const clickedButton = document.querySelector(`[onclick="openTab('${tabName}'); fadeInImrad();"]`) || 
                                document.querySelector(`[onclick="openTab('${tabName}')"]`);
            if (clickedButton) {
                clickedButton.classList.add('active');
            }
        }
         // Delay function for IMRAD with fade-in effect
        function fadeInImrad() {
            const imradOutput = document.getElementById("imrad-output");
            imradOutput.style.opacity = "0"; // Start hidden
            imradOutput.style.transition = "opacity 5s ease-in"; // Transition effect

            setTimeout(() => {
                imradOutput.style.opacity = "1"; // Fade in
            }, 200); // Delay to ensure it takes effect after visibility is set
        }

        // Optional: Add an event listener to initially hide the output
        document.addEventListener("DOMContentLoaded", function() {
            const imradOutput = document.getElementById("imrad-output");
            if (imradOutput) {
                imradOutput.style.opacity = "0"; // Initially hidden
            }
        });

        // Function to handle tab switching
        function openCitationTab(tabId) {
            const tabContainer = document.querySelector('.citation-tab-container');
            const tabContents = tabContainer.querySelectorAll('.citation-tab-content');
            const tabButtons = tabContainer.querySelectorAll('.citation-tab-button');

            tabContents.forEach(content => content.classList.remove('active'));
            tabButtons.forEach(button => button.classList.remove('active'));

            document.getElementById(`citation-${tabId}`).classList.add('active');
            tabContainer.querySelector(`.citation-tab-button[onclick="openCitationTab('${tabId}')"]`).classList.add('active');
        }

        function copyCitation(citationId) {
        const citationText = document.getElementById(citationId).innerText;
        const copyButton = document.querySelector(`#${citationId} + .div-copy-btn .copy-button`);

        // Copy the text to the clipboard
        navigator.clipboard.writeText(citationText).then(() => {
            // Add the "copied" class and change text
            copyButton.classList.add('copied');
            copyButton.innerText = 'Copied';

            // Reset the button after 2 seconds
            setTimeout(() => {
                copyButton.classList.remove('copied');
                copyButton.innerText = 'Copy';
            }, 2000);
        }).catch(err => {
            console.error('Failed to copy citation:', err);
        });
    }
    </script>
</body>
</html>
